*{
  margin: 0px;
  padding: 0px;
}
.parent-element {
  display: flex;
  gap: 10px;
}
.left-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(160deg, rgb(153, 154, 158), rgb(153, 154, 158));
  width: 60%;
  border-radius: 25px;
  box-shadow: 8px 8px 16px grey;
}
div.left-elements-headings {
  padding-inline: 10px;
  width: 100%;
}
div.left-elements-headings > h2 {
  color: white;
  line-height: 2.25rem;
  font-size: 2rem;
}
div.left-elements-headings > h1 {
  width: 100%;
  font-size: 2.25rem;
  color: white;
}
h1.heading-with-multiple-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.link-header {
  display: flex;
  max-width: 100%;
  width: 400px;
  justify-content: space-between;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.link-header a {
  color: black;
  text-decoration: none;
}
.link-header a:hover {
  background-color: rgb(153, 154, 158);
  transition: 0.25s;
}
.link-header a:focus {
  color: rgb(13, 223, 52);
}
.right-elements {
  width: 40%;
}
.right-element-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.social-networks {
  display: flex;
  gap: 15px;
  margin: 20px;
  margin-bottom: 50px;
  padding: 10px;
}
.social-networks a i{
  font-size: 1.8em;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 50%;
  line-height: 50px;
  margin-top: 10px;
  padding: 30px;
}
.social-networks a:hover {
  background-color: rgb(153, 154, 158);
  transition: 0.25s;
}
.social-networks a:focus {
  color: rgb(13, 223, 52);
}
.social-networks a.see {
  font-size: 1.3em;
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 50%;
  margin-top: 10px;
  padding: 30px;
}
.hamburger-menu {
  display: none;
  font-size: 50px;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  max-width: 100%;
  width: 400px;
  justify-content: space-between;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 1024px) {
  .parent-element {
    display: flex;
    flex-direction: column;
  }
  .left-elements, .right-elements {
    width: 100%;
    border-radius: 0px;
  }
  .right-element-image {
    border-radius: 0px;
  }
  .social-networks {
    display: flex;
    gap: 15px;
    margin: 20px;
    margin-bottom: 50px;
    padding: 10px;
    align-items: center;
}
}
@media screen and (max-width: 769px) {
  .social-networks a i{
    font-size: 1.4em;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .social-networks a.see {
    font-size: .7em;
    max-height: 35px;
}
.hamburger-menu {
  display: block;
}
.nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
}
.nav-menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.header {
  flex-direction: column;
  align-items: center;
}
}