.parent-element {
    display: flex;
}
.left-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(201, 195, 195, 0.897);
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-element-image {
    width: 100%;
    height: 500px;
}
.link-header {
    display: flex;
    max-width: 450px;
    width: 400px;
    justify-content: space-between;
}
.link-header a {
    color: black;
    text-decoration: none;
}
.link-header a:last-child {
    border: 5px solid black;
    border-radius: 100%;
    color: white;
    background-color: black;
}
.right-elements {
    width: 850px;
}
.social-networks {
    margin: 10px;
    margin-bottom: 20px;
}
.social-networks a {
    color: white;
    border: 5px solid black;
    border-radius: 100%;
    background-color: black;
    text-decoration: none;
}