.parent-element {
  display: flex;
  gap: 10px;
}
.left-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(160deg, rgb(153, 154, 158), rgb(153, 154, 158));
  width: 100%;
  border-radius: 5%;
  box-shadow: 8px 8px 16px grey;
}
div.left-elements-headings {
  padding-inline: 10px;
  width: 100%;
}
div.left-elements-headings > h2 {
  color: white;
  line-height: 2.25rem;
  font-size: 2rem;
}
div.left-elements-headings > h1 {
  width: 100%;
  font-size: 3.25rem;
  color: white;
}
h1.heading-with-multiple-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.link-header {
  display: flex;
  max-width: 100%;
  width: 400px;
  justify-content: space-between;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.link-header a {
  color: black;
  text-decoration: none;
}
.link-header a:hover {
  background-color: rgb(153, 154, 158);
  transition: 0.25s;
}
.link-header a:focus {
  color: rgb(13, 223, 52);
}
.right-elements {
  width: 1400px;
}
.right-element-image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.social-networks {
  display: flex;
  gap: 15px;
  margin: 20px;
  margin-bottom: 50px;
  padding: 10px;
}
.social-networks a {
  color: black;
  text-decoration: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 30px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.social-networks a:hover {
  background-color: rgb(153, 154, 158);
  transition: 0.25s;
}
.social-networks a:focus {
  color: rgb(13, 223, 52);
}
.social-networks a.see {
  border: 1px solid rgba(233, 225, 225, 0.959);
  padding: 30px;
  border-radius: 25%;
}